{% extends ../base.html %}

{% block title %}Crafty Controller - Configuration{% end %}

{% block content %}

<section class="content-header">
  <h1>
    Server Config
    <small>Configure Your Server</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Configuration</li>
  </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-6">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#crafty" data-toggle="tab">Crafty Config</a></li>
              <li><a href="#backup" data-toggle="tab">Backups</a></li>
              <li><a href="#mcserver" data-toggle="tab">MC Server</a></li>
              <li><a href="#users" data-toggle="tab">Users</a></li>

            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="crafty">
                    <form role="form" method="post">
                        {% raw xsrf_form_html() %}
                        <input type="hidden" name="config_type" value="crafty_settings"/>

                        <div class="box">
                            <div class="box-header with-border">
                              <h3 class="box-title">
                                  Crafty Config
                              </h3>
                            </div>

                            <div class="box-body">
                                <div class="form-group">
                                    <label>
                                        Historical Data Capture Interval <br />
                                        <small>How many minutes between historical data capture</small>
                                    </label>
                                    <input type="number"
                                           name="historical_interval" id="historical_interval"
                                           class="form-control" placeholder="90"
                                           value="{{ data['crafty_settings']['history_interval'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Historical Data Length <br />
                                        <small>How many days should we keep historical data</small>
                                    </label>
                                    <input type="number"
                                           name="history_max_age" id="history_max_age"
                                           class="form-control" placeholder="2"
                                           value="{{ data['crafty_settings']['history_max_age'] }}"
                                    />
                                </div>


                            </div>

                            <div class="box-footer">
                                <a href="/admin/config" class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-success pull-right">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>


              </div>
              <!-- /.tab-pane -->

                <div class="tab-pane" id="backup">
                        <h3>Backup Config</h3>
                      <form method="post">
                            {% raw xsrf_form_html() %}
                            <div class="row">
                                <div class="form-group">
                                      <label for="max_backups" class="col-xs-3 control-label">Max Age Of Backups In Days</label>

                                      <div class="col-xs-2">
                                            <select class="form-control" name="max_backups">
                                                <option value="7" {% if data['backup_config']['max_backups'] == 7 %} selected {% end %}>7</option>
                                                <option value="14" {% if data['backup_config']['max_backups'] == 14 %} selected {% end %}>14</option>
                                                <option value="30" {% if data['backup_config']['max_backups'] == 30 %} selected {% end %}>30</option>
                                                <option value="60" {% if data['backup_config']['max_backups'] == 60 %} selected {% end %}>60</option>
                                                <option value="90" {% if data['backup_config']['max_backups'] == 90 %} selected {% end %}>90</option>
                                                <option value="182" {% if data['backup_config']['max_backups'] == 182 %} selected {% end %}>182</option>
                                                <option value="365" {% if data['backup_config']['max_backups'] == 365 %} selected {% end %}>365</option>
                                            </select>
                                      </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                  <div class="form-group">
                                      <label for="storage_location" class="col-xs-3 control-label">Where to Save Backups</label>

                                      <div class="col-sm-9">
                                            <input type="text"
                                                   class="form-control"
                                                   id="storage_location"
                                                   placeholder="Backup Location"
                                                   name="storage_location"
                                                   value="{{ data['backup_config']['storage_location'] }}"
                                            >
                                      </div>
                                    </div>
                            </div>

                            <hr />

                            <input type="hidden" name="config_type" value="backup_settings"/>
                            <h4>Backup These Files</h4>
                            <label>
                                Backup the whole server:<br />
                                {% if data['backup_data'][0] == data['server_root'] %}
                                    <input type="checkbox" id="whole_server" name="backup" value="{{ data['server_root'] }}" checked="true"/> Backup Everything
                                {% else %}
                                    <input type="checkbox" id="whole_server" name="backup" value="{{ data['server_root'] }}"/> Backup Everything
                                {% end %}

                                <span id="everything_hint"> - Uncheck to select individual folders to backup</span>
                            </label>

                            <hr />
                            Individual Folder Backup <br />

                            <label>
                            <input type="checkbox" id="select_all" disabled="true"/> SELECT ALL
                            </label>

                            <br />

                            {% for item in data['directories'] %}

                                {% if item['type'] == 'dir' %}
                                    <label>
                                        <input type="checkbox"
                                               class="checkBoxClass"
                                               name="backup"
                                               value="{{item['name']}}"
                                               disabled="true"
                                               {% if item['name'] in data['backup_data']%}
                                                   checked="true"
                                                    disabled="false"
                                               {% else %}
                                                    disabled="true"
                                                {% end%}
                                        />
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        {{ item['name'] }}
                                    </label>
                                    <br />
                                {% else %}
                                    <label>
                                        <input type="checkbox"
                                               class="checkBoxClass"
                                               name="backup"
                                               value="{{item['name']}}"

                                                {% if item['name'] in data['backup_data']%}
                                                    checked="true"
                                                    disabled="false"
                                                {% else %}
                                                    disabled="true"
                                                {% end%}
                                        />
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                        {{ item['name'] }}
                                    </label>
                                    <br />
                                {% end %}
                            {% end %}

                            <button type="submit" class="btn btn-success pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save Backups Settings
                            </button>
                            <br class="clear"/>
                            <br class="clear"/>
                        </form>
              </div>
                  <!-- /.tab-pane -->
                <div class="tab-pane" id="mcserver">
                    <form role="form" method="post">
                        {% raw xsrf_form_html() %}
                        <input type="hidden" name="config_type" value="mc_settings"/>

                        <div class="box">
                            <div class="box-header with-border">
                              <h3 class="box-title">
                                  Minecraft Server Config
                              </h3>
                            </div>

                            <div class="box-body">
                                <div class="form-group">
                                    <label>
                                        Server Path <br />
                                        <small>What folder is your server in? (example: C:\minecraft\server)</small>
                                    </label>
                                    <input type="text"
                                           name="server_path" id="server_path"
                                           class="form-control" placeholder="Server Path Here"
                                           value="{{ data['mc_settings']['server_path'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Server Jar <br />
                                        <small>What is your jar filename? (example: paper.jar)</small>
                                    </label>
                                    <input type="text"
                                           name="server_jar" id="server_jar"
                                           class="form-control" placeholder="Server Jar Here"
                                           value="{{ data['mc_settings']['server_jar'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Server Max Memory <br />
                                        <small>Maximum Memory To Use in MB? (example: 2048)</small>
                                    </label>
                                    <input type="number"
                                           name="memory_max" id="memory_max"
                                           class="form-control" placeholder="Server Max Memory"
                                           value="{{ data['mc_settings']['memory_max'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Server Min Memory <br />
                                        <small>Minimum Memory To Use in MB? (example: 1024)</small>
                                    </label>
                                    <input type="number"
                                           name="memory_min" id="memory_min"
                                           class="form-control" placeholder="Server Min Memory"
                                           value="{{ data['mc_settings']['memory_min'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Pre Arguments <br />
                                        <small>Additional Args? (arguments to add after the memory arguments of server command)</small>
                                    </label>
                                    <input type="text"
                                           name="pre_args" id="pre_args"
                                           class="form-control" placeholder="Arguments after memory arguments"
                                           value="{{ data['mc_settings']['pre_args'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        After Arguments <br />
                                        <small>Additional Args? (arguments to add at the end of server command)</small>
                                    </label>
                                    <input type="text"
                                           name="additional_args" id="additional_args"
                                           class="form-control" placeholder="Extra Arguments"
                                           value="{{ data['mc_settings']['additional_args'] }}"
                                    />
                                </div>

                                <hr />

                                <!-- radio -->
                                <div class="form-group">
                                    <b>Auto Start Server On Program Launch?</b>
                                    <div class="radio">
                                        <label>
                                            <input type="radio"
                                                   name="auto_start_server"
                                                   value="1"
                                                    {% if data['mc_settings']['auto_start_server'] %} checked {% end %}
                                                    />
                                            Yes - Start the Minecraft Server on program launch.
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio"
                                                   name="auto_start_server"
                                                   value="0"
                                                    {% if data['mc_settings']['auto_start_server'] == False %} checked {% end %}
                                                    />
                                            No - I will start the server myself.
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>
                                        Auto Start Delay In Seconds<br />
                                        <small>Has no effect if auto start is turned off (Example: 10)</small>
                                    </label>
                                    <input type="number"
                                           name="auto_start_delay" id="auto_start_delay"
                                           class="form-control" placeholder="Autostart Delay"
                                           value="{{ data['mc_settings']['auto_start_delay'] }}"
                                    />
                                </div>

                                <hr />

                                <div class="form-group">
                                    <label>
                                        Server Port<br />
                                        <small>Default is 25565</small>
                                    </label>
                                    <input type="number"
                                           name="server_port" id="server_port"
                                           class="form-control" placeholder="25565"
                                           value="{{ data['mc_settings']['server_port'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Server IP<br />
                                        <small>Default is 127.0.0.1</small>
                                    </label>
                                    <input type="text"
                                           name="server_ip" id="server_ip"
                                           class="form-control" placeholder="127.0.0.1"
                                           value="{{ data['mc_settings']['server_ip'] }}"
                                    />
                                </div>

                            </div>

                            <div class="box-footer">
                                <a href="/admin/config" class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-success pull-right">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
              </div>
              <!-- /.tab-pane -->

                <div class="tab-pane" id="users">

                        <input type="hidden" name="config_type" value="users"/>

                        <div class="box">
                            <div class="box-header with-border">
                              <h3 class="box-title">
                                  Users <br />
                                  <small>Note the Admin can not be deleted or changed</small>
                              </h3>
                            </div>

                            <div class="box-body">
                                <div class="form-group">
                                    <table class="table table-responsive" id="users_table">
                                        <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in data['users'] %}
                                            <tr>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.role }}</td>
                                                <td>

                                                    <a class="btn btn-sm btn-primary"
                                                       onclick="change_role('{{user.username}}')"
                                                       {% if user.username =="Admin" %} disabled="true" {% end %}
                                                    >
                                                        Change Role
                                                    </a>

                                                    <a class="btn btn-sm btn-warning"
                                                       onclick="change_user_password('{{user.username}}')"
                                                    >
                                                        Set Password
                                                    </a>
                                                    <a class="btn btn-sm btn-danger"
                                                       {% if user.username =="Admin" %} disabled {% end %}
                                                        onclick="del_user('{{ user.username }}')"
                                                    >

                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        {% end %}
                                        </tbody>
                                    </table>


                                </div>
                            </div>

                            <div class="box-footer">

                                <a class="btn btn-success pull-right" onclick="add_user()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Add User
                                </a>
                            </div>
                        </div>


              </div>
              <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>

        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-cog"></i>

              <h3 class="box-title">Your Current Config</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                The server will be launched using this string:<br />
                <b>
                java -Xms{{ data['mc_settings']['memory_min'] }}M
                -Xmx{{ data['mc_settings']['memory_max'] }}M
                {{ data['mc_settings']['pre_args'] }}
                -jar {{ data['mc_settings']['server_path'] }}/{{ data['mc_settings']['server_jar'] }} nogui
                {{ data['mc_settings']['additional_args'] }}
                </b>

                <hr />
                {% if data['mc_settings']['auto_start_server'] %}
                    The server is set to autostart
                {% else %}
                    The server is <b>NOT</b> set to autostart
                {% end %}

                <hr />

                Historical Data will be captured every <b>{{ data['crafty_settings']['history_interval'] }}</b> minutes
                and kept for <b>{{ data['crafty_settings']['history_max_age'] }}</b> days

                <hr />

                Your backups are saved in <b>{{ data['backup_config']['storage_location'] }}</b>
                and kept for <b>{{ data['backup_config']['max_backups'] }}</b> days

                <hr />

                You have <b>{{ data['users_count'] }}</b> users defined

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>

</section>



<!--
{{ data }}
-->




{% end %}

{% block js-script %}

<script>
    function show_saved(){
        var dialog = bootbox.dialog({
            message: "Settings Saved",
            className: 'modal modal-success fade-in',
            okButton: false
        });
    }

    function show_invalid(){
        var dialog = bootbox.dialog({
            message: "Invalid Settings Detected",
            className: 'modal modal-danger fade-in',
            okButton: false
        });
    }

    function hide_modal(){
        bootbox.hideAll()
    }

    //used to get cookies from browser - this is part of tornados xsrf protection - it's for extra security
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    function del_user(username){

        var token = getCookie("_xsrf")

        if (username == "Admin") return False;

        bootbox.confirm({
            message: "Are you sure you wish to delete user: " + username + "?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function(result){
                if (result){
                    console.log('deleting user ' + username);

                    data_to_send = { username : username };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/del_user',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        location.reload();
                      },
                    });
                }

            }
        });
    }

    function add_user() {

        var token = getCookie("_xsrf")

        bootbox.prompt({
            title: "Enter the New Users Username",
            callback: function(result){
                if (result){
                    console.log('adding user ' + result);

                    data_to_send = { username : result };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/add_user',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        bootbox.alert({
                            message: "The users new password is: " + data,
                            callback: function () {
                                location.reload();
                            }
                        })
                      },
                    });
                }

            }
        });
    }

    function change_user_password(user) {

        var token = getCookie("_xsrf")

        bootbox.prompt({
            title: "Enter the New Password for " + user,
            callback: function(result){
                if (result){
                    console.log('changing users password to' + result);

                    data_to_send = { username : user, password: result };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/change_password',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        bootbox.alert({
                            message: "The users new password is: " + data,
                            callback: function () {
                                location.reload();
                            }
                        })
                      },
                    });
                }

            }
        });
    }

    function change_role(user){
        var token = getCookie("_xsrf")

        if (user == "Admin") return False;

        bootbox.prompt({
            title: "Select the new role for " + user,
            inputType: 'select',
            inputOptions: [
            {
                text: 'Admin',
                value: 'Admin',
            },
            {
                text: 'Staff',
                value: 'Staff',
            },
            {
                text: 'Backup',
                value: 'Backup',
            },
            {
                text: 'Mod',
                value: 'Mod',
            }
            ],
            callback: function (result) {
                if (result){
                    console.log('changing ' + user + " to role " + result );

                    data_to_send = { username : user, role: result };

                    $.ajax({
                      type: "POST",
                      headers: {'X-XSRFToken': token},
                      url: '/ajax/edit_role',
                      data: data_to_send,
                      success: function(data){
                        console.log("got response:");
                        console.log(data);
                        location.reload();
                      },
                    });
                }
            }
        });
    }

    $( document ).ready(function() {
        console.log( "ready!" );


        $('#users_table').DataTable({
            "order": [[ 0, "asc" ]]
        });

        checkbox_update();
        enable_disable_all();

        //adding quick/dirty padding
        $('input').css("margin-bottom",'10px')

        {% if data['saved'] %}
            show_saved()
            setTimeout(hide_modal, 1000);
        {% end %}

        {% if data['invalid'] %}
            show_invalid()
            setTimeout(hide_modal, 1000);
        {% end %}

        $("#whole_server").click(function () {
            enable_disable_all();
            checkbox_update();
        });

        $("#select_all").click(function () {
            $(".checkBoxClass").prop('checked', $(this).prop('checked'));
            checkbox_update();
        });

        $(".checkBoxClass").click(function () {
            if ( $(this).prop('checked') === false ){
                $("#select_all").prop('checked', false);
                checkbox_update();
            }
        });

        $('.checkBoxClass').change(function(){
            checkbox_update();
        });

    });

    function checkbox_update(){
        $( ".checkBoxClass" ).each(function( index ) {
            if (this.checked) {
                $(this).parent().addClass('text-green')
                $(this).parent().removeClass('text-red')
            }
            else{
                $(this).parent().addClass('text-red')
                $(this).parent().removeClass('text-green')
            }
        });
    }

    function enable_disable_all(){
        if ( $("#whole_server").prop('checked') === true ){
                $(".checkBoxClass").prop('checked', false);
                $(".checkBoxClass").prop('disabled', true);
                $("#select_all").prop('checked', false);
                $("#select_all").prop('disabled', true);
                $("#everything_hint").show();
            }
        else{
            $(".checkBoxClass").prop('disabled', false);
            $("#select_all").prop('disabled', false);
            $("#everything_hint").hide();
        }
    }


</script>

{% end %}